<div class="container">
<box color="blue" title="Riconoscimenti: VIII edizione (2017)">

<h3>Generale</h3>
Concept: Fabrizio Bianchi<br />
Organizzazione: Non chiaro<br />
Direzione tecnica generale: Giovanni Mascellani<br />
Capitani: Matteo Migliorini e Alberto Bordin<br />
Vicecapitani: Riccardo Zanotto e Giacomo Petrillo<br />
Matricole reclute: Davide Gori ed Edoardo Maria Centamori<br />
Comitato turni: Alberto Bordin, Andrea Luzio, Alessandro Candido, Marco Trevisiol, Matteo Migliorini, Lorenzo Benedini, Alessandro Iraci e forse altri<br />
Gestione turni: Alessandro Iraci, Alessandro Candido, Giacomo Petrillo, Giovanni Paolini e Riccardo Zanotto<br />
Insulti gratuiti: Marco Trevisiol e Federico Scavia<br />
Arredamento: Giovanni Mascellani, Riccardo Zanotto, Alberto Bordin e Marco Trevisiol<br />
Direzione apertura e chiusura: Giovanni Paolini e Giovanni Mascellani<br />
Tear down: Giovanni Mascellani, Marco Trevisiol, Sasha Iraci, Manuele Cusumano, Julian Demeio, Giovanni Paolini, Camilla Poloni, Francesco Hoch, Alberto Bordin, Roberto Ribatti e altra gente<br />
Post-produzione statistiche: Giovanni Paolini, Alessandro Iraci, Manuele Cusumano e Giovanni Mascellani<br />

<h3>Cibo</h3>
Relazioni con i fornitori: Alessandro Iraci, Marco Trevisiol, Claudio Afeltra, Alice Cortinovis e Giovanni Paolini<br />
Fornitura bollitore: Alice Cortinovis<br />

<h3>Trailer</h3>
Sceneggiatura: Giovanni Paolini, Alessandro Iraci, Riccardo Zanotto, Davide Burgio, Gabriele Pulvirenti e Alice Cortinovis<br />
Doppiatori: Alberto Bordin, Davide Burgio, Alice Cortinovis, Davide Gori, Alessandro Iraci, Camilla Poloni, Morena Porzio, Marco Trevisiol e Riccardo Zanotto<br />
Direzione del doppiaggio: Alice Cortinovis<br />
Montaggio video: Giovanni Paolini<br />
Montaggio audio e colonna sonora: Ugo Bindini<br />

<h3>Trailer clandestino</h3>
Regia: Fabio Zoratti, Matteo Colanero, Lorenzo Breschi<br />
Direzione del doppiaggio: Lorenzo Breschi<br />
Doppiatori: Lorenzo Breschi, Rosario Riso, Vasco Cavina, Alberto Bordin, Laura Grazioli, Marco Eterno, Giovanni Maria Tomaselli, Fabio Zoratti, Ludovico Tesser, Nico Kleijne, Matteo Colanero<br />
Idea: Fabio Zoratti<br />
Sceneggiatura: Lorenzo Breschi, Fabio Zoratti, Matteo Colanero, Giovanni Maria Tomaselli, Nico Kleijne, Rosario Roberto Riso, Ludovico Tesser, Vasco Cavina<br />
Tecnico audio: Matteo Colanero<br />
Grafica 3D: Fabio Zoratti, Matteo Colanero, Salvatori Raucci<br />
Montaggio: Fabio Zoratti, Matteo Colanero, Lorenzo Breschi<br />
Galoppini: Marco Miani, Marco Costa<br />
Portaborracce: Simone Bombari, Pietro Pelliconi<br />
Lamborghini countach: Lorenzo Beretti<br />
Maestro di Kung Fu: Enio Mangacotti<br />
Makeup: Simone Bombari<br />
Cattivo gusto: tutti i precedenti<br />

<h3>Sigla</h3>
Realizzazione: Francesco Guatieri<br />
Editing video: Francesco Guatieri, Giovanni Paolini, Enrico Polesel<br />

<h3>Streaming</h3>
Progettazione e regia: Roberto Ribatti<br />
Posizionamento telecamere: Roberto Ribatti e Giovanni Mascellani<br />
Consulenza tecnica: Giovanni Mascellani<br />

<h3>Sistemistica</h3>
Realizzazione e posa cavi: Riccardo Zanotto, Marco Trevisiol e Giovanni Mascellani<br />
Amministrazione sistemi: Giovanni Mascellani, Marco Trevisiol, Riccardo Zanotto<br />

<h3>Subotto</h3>
Pulizia: Boh, non era veramente pulito...<br />
Sostituzione pezzi e rimontaggio: Francesco Hoch, Matteo Migliorini e altre matricole inutili<br />

<h3>Subotto++</h3>
Progetto e realizzazione fotocellule: Francesco Hoch, Roberto Ribatti e Andrea Luzio<br />
Progetto e realizzazione schermi 7-segment: Alessandro Achille<br />
Allestimento subotto: Francesco Hoch, Roberto Ribatti e Andrea Luzio<br />
Programmazione MCU: Roberto Ribatti, Andrea Luzio e Giovanni Mascellani<br />
Programmazione elaboratori: Giovanni Mascellani, Gianluca Grilletti, Enrico Polesel, Giovanni Paolini<br />
Bot Telegram: Riccardo Zanotto<br />
Progetto e realizzazione del software di tracciamento della pallina: Giovanni Mascellani, Massimo Cairo, Giovanni Paolini e Alessandro Achille<br/>
Progettazione della piattaforma per le riprese aeree: Giovanni Mascellani<br />
Tecnico delle luci: Alberto Bordin<br />
Gestione del database: Giovanni Mascellani, Giovanni Paolini<br />
Interfaccia web (punteggio e streaming): Luca Versari, Giovanni Paolini, Giovanni Mascellani, Alessandro Achille<br />
Programmazione web: Luca Versari, Giovanni Mascellani, Giovanni Paolini<br />
Grafica del sito: Alessandro Achille, Luca Versari, Giovanni Paolini<br />
Ricostruzione storica: Alessandro Iraci e Giovanni Paolini<br />
Scrittura dei riconoscimenti: Giovanni Mascellani e Giovanni Paolini<br />
Relazioni con i fornitori: Giovanni Mascellani<br />


<h3>Manovalanza</h3>
Trasporto biliardino: Non si sa, ma qualcuno l'ha trasportato<br />
Trasporto tavoli: Marco Trevisiol, Giovanni Mascellani, Riccardo Zanotto, altri che passavano da quelle parti in quel momento<br />
Trasporto attrezzatura informatica: Marco Trevisiol<br />

</box>
<box color="blue" title="Riconoscimenti: VII edizione (2016)">

<h3>Generale</h3>
Concept: Fabrizio Bianchi<br />
Organizzazione: Lorenzo Benedini e Alberto Bordin<br />
Direzione tecnica generale: Giovanni Mascellani<br />
Capitani: Lorenzo Benedini e Alberto Bordin<br />
Vicecapitani: Matteo Migliorini, Dario Ascari e Giacomo Petrillo<br />
Matricole reclute: Davide Carazzato e Simone Bombari<br />
Comitato turni: Lorenzo Benedini, Alberto Bordin, Giacomo Petrillo, Roberto Ribatti e Matteo Verzobio<br />
Cambio turni: Alessandro Candido, Andrea Luzio, Roberto Ribatti, Giovanni Paolini, Giacomo Petrillo e Alessandro Iraci<br />
Arredamento: Giovanni Mascellani e Marco Trevisiol<br />
Tear down: Giovanni Mascellani, Marco Trevisiol, varie matricole (dunque non degne di nota)<br />
Post-produzione statistiche: Giovanni Paolini e Alessandro Iraci<br />

<h3>Cibo</h3>
Relazioni con i fornitori: Alessandro Iraci e Pietro Lepori<br />
Fornitura bollitore: Ugo Bindini<br />

<h3>Trailer</h3>
Regia: Giovanni Paolini, Ugo Bindini, Alessandro Iraci e Alice Cortinovis<br />
Doppiatori: Ugo Bindini, Giovanni Paolini, Dario Rancati, Marco Trevisiol e Alessandro Iraci<br />
Effetti visuali: Giovanni Paolini e Ugo Bindini<br />
Montaggio audio: Ugo Bidini e Alice Cortinovis<br />

<h3>Sigla</h3>
Realizzazione: Francesco Guatieri<br />
Editing video: Francesco Guatieri, Giovanni Paolini, Enrico Polesel<br />

<h3>Streaming</h3>
Progettazione e regia: Roberto Ribatti e Andrea Luzio<br />
Posizionamento telecamere: Roberto Ribatti e Andrea Luzio<br />
Consulenza tecnica: Giovanni Mascellani<br />

<h3>Sistemistica</h3>
Realizzazione e posa cavi: Marco Trevisiol e Giovanni Mascellani<br />
Amministrazione sistemi: Giovanni Mascellani<br />

<h3>Subotto</h3>
Pulizia: Lorenzo Benedini, Roberto Ribatti, Francesco Hoch, Alberto Bordin, Igor Simunec, Pietro Lepori e Giona Micossi<br />
Sostituzione pezzi e rimontaggio: Francesco Hoch e Lorenzo Benedini<br />

<h3>Subotto++</h3>
Progetto e realizzazione fotocellule: Francesco Hoch, Roberto Ribatti e Andrea Luzio<br />
Progetto e realizzazione schermi 7-segment: Alessandro Achille<br />
Allestimento subotto: Francesco Hoch, Roberto Ribatti e Andrea Luzio<br />
Programmazione MCU: Roberto Ribatti, Andrea Luzio e Giovanni Mascellani<br />
Programmazione elaboratori: Giovanni Mascellani, Gianluca Grilletti, Enrico Polesel, Giovanni Paolini<br />
Progetto e realizzazione del software di tracciamento della pallina: Giovanni Mascellani, Massimo Cairo, Giovanni Paolini e Alessandro Achille<br/>
Progettazione della piattaforma per le riprese aeree: Giovanni Mascellani e Francesco Hoch<br />
Tecnico delle luci: Alberto Bordin<br />
Gestione del database: Giovanni Mascellani, Giovanni Paolini<br />
Interfaccia web (punteggio e streaming): Luca Versari, Giovanni Paolini, Giovanni Mascellani, Alessandro Achille<br />
Programmazione web: Giovanni Mascellani, Giovanni Paolini<br />
Grafica del sito: Alessandro Achille, Luca Versari, Giovanni Paolini<br />
Relazioni con i fornitori: Giovanni Mascellani<br />


<h3>Manovalanza</h3>
Trasporto biliardino: Lorenzo Benedini, ??<br />
Trasporto tavoli: Marco Trevisiol, ??<br />
Trasporto attrezzatura informatica: Marco Trevisiol<br />

</box>
<box color="blue" title="Riconoscimenti: VI edizione (2015)">

<h3>Generale</h3>
Concept: Fabrizio Bianchi<br />
Organizzazione: Alessandro Iraci e Federico Scavia<br />
Direzione tecnica generale: Giovanni Mascellani<br />
Capitani: Federico Scavia e Marco Cilibrasi<br />
Vicecapitani: Lorenzo Benedini, Vasco Cavina, Giuliano Chiriacò e Enis Belgacem<br />
Matricole reclute: Nicola Picenni e Alberto Bordin<br />
Comitato turni: Federico Scavia, Vasco Cavina, Giuliano Chiriacò, Matteo Verzobio e Alessandro Iraci<br />
Arredamento: Giovanni Mascellani<br />
Tear down: Giovanni Mascellani, ??<br />
Post-produzione statistiche: Giovanni Paolini e Alessandro Iraci<br />

<h3>Cibo</h3>
Relazioni con i fornitori: Alessandro Iraci e Marco Barberis<br />
Fornitura bollitore: Giovanni Paolini<br />

<h3>Trailer</h3>
Regia: Giovanni Paolini e Ugo Bindini<br />
Doppiatori: Ugo Bindini, Marco Barberis, Giovanni Italiano, Clara Antonucci, Alberto Bordin, Vasco Cavina e Federico Scavia<br />

<h3>Sigla</h3>
Realizzazione: Francesco Guatieri<br />
Editing video: Francesco Guatieri, Giovanni Paolini, Enrico Polesel<br />

<h3>Streaming</h3>
Progettazione e regia: Giovanni Mascellani<br />
Tecnico audio: Giovanni Mascellani<br />
Posizionamento telecamere: Giovanni Mascellani, Luca Versari<br />
Relazioni con i fornitori: Giovanni Mascellani<br />
Reperimento materiale tecnico: Giovanni Mascellani<br />
Responsabile dell'archiviazione: Giovanni Mascellani<br />

<h3>Sistemistica</h3>
Realizzazione e posa cavi: Giovanni Mascellani<br />
Amministrazione sistemi: Giovanni Mascellani, Luca Versari<br />

<h3>Subotto</h3>
Pulizia: Alessandro Iraci, Lorenzo Benedini, Ugo Bindini, Alice Cortinovis e Marco Trevisiol<br />
Sostituzione pezzi e rimontaggio: Alessandro Iraci<br />
Relazioni con i fornitori: Alessandro Iraci<br />

<h3>Subotto++</h3>
Progetto e realizzazione fotocellule: Carmelo Mordini e Francesco Hoch<br />
Progetto e realizzazione schermi 7-segment: Alessandro Achille e Enrico Polesel<br />
Allestimento subotto: Carmelo Mordini e Francesco Hoch<br />
Programmazione MCU: Luca Versari<br />
Programmazione elaboratori: Gianluca Grilletti, Giovanni Mascellani, Enrico Polesel, Giovanni Paolini<br />
Progetto e realizzazione del software di tracciamento della pallina: Massimo Cairo, Giovanni Paolini, Luca Versari, Giovanni Mascellani, Alessandro Achille<br/>
Progettazione della piattaforma per le riprese aeree: Francesco Guatieri, Giovanni Mascellani<br />
Gestione del database: Giovanni Mascellani, Giovanni Paolini<br />
Interfaccia web (punteggio e streaming): Giovanni Paolini, Giovanni Mascellani, Luca Versari, Alessandro Achille<br />
Programmazione web: Giovanni Mascellani, Giovanni Paolini<br />
Grafica del sito: Alessandro Achille, Luca Versari, Giovanni Paolini<br />
Relazioni con i fornitori: Carmelo Mordini e Francesco Guatieri<br />

</box>

<box color="blue" title="Riconoscimenti: V edizione (2014)">

<h3>Generale</h3>
Concept: Fabrizio Bianchi<br />
Organizzazione: Giovanni Paolini e Alessandro Iraci<br />
Direzione tecnica generale: Giovanni Mascellani<br />
Capitani: Alessandro Iraci e Giulio Mandorli<br />
Vicecapitani: Federico Scavia e Marco Cilibrasi<br />
Matricole reclute: Andrea Parma e Davide Napoli<br />
Comitato turni: Alessandro Iraci, Federico Scavia, Giovanni Paolini, Giulio Mandorli, Vasco Cavina, Giuliano Chiriacò<br />
Arredamento: Giovanni Mascellani<br />
Tear down: Giovanni Mascellani, Giovanni Paolini, Fabrizio Bianchi, Alessandro Iraci<br />
Post-produzione statistiche: Giovanni Paolini<br />

<h3>Cibo</h3>
Relazioni con i fornitori: Alessandro Iraci, Federico Scavia, Stanislao Zompì<br />
Magazzino: Alessandro Iraci<br />
Fornitura bollitore: Ugo Bindini<br />
Fornitura caffè e macchina del caffè: Federico Tonielli

<h3>Trailer</h3>
Regia: Giovanni Paolini<br />
Sceneggiatura: Giovanni Paolini, Ugo Bindini<br />
Interpreti: Giuliano Chiriacò, Francesco Guatieri, Davide Lofano, Giulio Mandorli, Giovanni Paolini, Luca Rigovacca, Federico Scavia, Federica Surace<br />
VFX: Giovanni Mascellani, Alessandro Achille, Giovanni Paolini, Enrico Polesel<br />

<h3>Sigla</h3>
Realizzazione: Francesco Guatieri<br />
Editing video: Francesco Guatieri, Giovanni Paolini, Enrico Polesel<br />

<h3>Streaming</h3>
Progettazione e regia: Giovanni Mascellani<br />
Tecnico audio: Giovanni Mascellani<br />
Posizionamento telecamere: Giovanni Mascellani, Giovanni Paolini<br />
Relazioni con i fornitori: Giovanni Mascellani<br />
Reperimento materiale tecnico: Giovanni Mascellani<br />
Responsabile dell'archiviazione: Giovanni Mascellani<br />

<h3>Sistemistica</h3>
Realizzazione e posa cavi: Giovanni Mascellani<br />
Amministrazione sistemi: Giovanni Mascellani<br />

<h3>Subotto</h3>
Pulizia: Alessandro Iraci, Luca Ghidelli, Federico Scavia, Claudio Afeltra<br />
Riverniciatura sponde: Alessandro Malusà, Alessandro Iraci, Federico Scavia<br />
Sostituzione pezzi e rimontaggio: Alessandro Iraci<br />
Relazioni con i fornitori: Alessandro Iraci, Giuliano Chiriacò<br />

<h3>Subotto++</h3>
Progetto e realizzazione fotocellule: Francesco Guatieri<br />
Manuntenzione fotocellule: Carmelo Mordini, Enrico Polesel, Francesco Guatieri<br />
Progetto e realizzazione schermi 7-segment: Alessandro Achille<br />
Allestimento subotto: Francesco Guatieri, Carmelo Mordini, Enrico Polesel<br />
Programmazione MCU: Enrico Polesel, Alessandro Achille, Giovanni Mascellani, Carmelo Mordini<br />
Programmazione elaboratori: Giovanni Mascellani, Enrico Polesel, Giovanni Paolini<br />
Progetto e realizzazione del software di tracciamento della pallina: Massimo Cairo, Giovanni Paolini, Luca Versari, Giovanni Mascellani, Alessandro Achille<br/>
Progettazione della piattaforma per le riprese aeree: Francesco Guatieri, Giovanni Mascellani<br />
Gestione del database: Giovanni Mascellani, Giovanni Paolini<br />
Interfaccia web (punteggio & streaming): Giovanni Paolini, Giovanni Mascellani, Luca Versari, Alessandro Achille<br />
Programmazione web: Giovanni Mascellani, Giovanni Paolini<br />
Nuova grafica del sito: Alessandro Achille, Luca Versari, Giovanni Paolini<br />
Relazioni con i fornitori: Enrico Polesel, Franesco Guatieri, Alessandro Achille<br />


<h3>Manovalanza</h3>
Trasporto biliardino: Alessandro Malusà, Vasco Cavina<br />
Trasporto tavoli: Vasco Cavina, Giovanni Paolini, Alessandro Iraci, Marco Marengon, Fabrizio Bianchi<br />
Trasporto attrezzatura informatica: Giovanni Mascellani<br />


<h3>Trailer clandestino</h3>
Doppiaggio: Aleksandra Baranova, Fabrizio Bianchi, Alessandra Caraceni, Davide Lombardo, Marco Marengon, Giovanni Mascellani, Gennady Uraltsev<br />

</box>

<box color="blue" title="Riconoscimenti: IV edizione (2013)">

<h3>Generale</h3>
Concept: Fabrizio Bianchi<br />
Organizzazione: Giovanni Paolini<br />
Direzione tecnica generale: Giovanni Mascellani<br />
Capitani: Giovanni Paolini e Luca Rigovacca<br />
Vicecapitani: Alessandro Iraci e Giulio Mandorli<br />
Relazioni con il pubblico: Giovanni Paolini<br />
Relazioni con la Scuola Normale: Gennady Uraltsev, Giovanni Paolini<br />
Matricole reclute: Federico Scavia e Marco Cilibrasi<br />
Aggiunto al comitato turni: Fabrizio Bianchi<br />
Arredamento: Giovanni Mascellani<br />
Tear down: Giovanni Mascellani, Giovanni Paolini, Enrico Polesel, Fabrizio Bianchi, Alessandro Iraci, Gianluca Grilletti, Simone Calamai, Marco Marengon<br />
Post-produzione statistiche: Giovanni Paolini<br />

<h3>Cibo</h3>
Relazioni con i fornitori: Fabrizio Bianchi, Alessandro Iraci<br />
Presentazione e distribuzione: Gennady Uraltsev, Fabrizio Bianchi<br />
Magazzino: Alessandro Iraci<br />
Preparazione t&egrave;: Gennady Uraltsev, Ugo Bindini<br />
Preparazione milkshake: Fabrizio Bianchi, Marco Marengon, Alessandro Iraci<br />

<h3>Trailer</h3>
Regia: Giovanni Paolini<br />
Interpreti principali: Daniele Semola, Francesco Veneziano, Giovanni Paolini, Gennady Uraltsev, Lorenzo Romeo<br />
Coro: Giovanni Paolini, Giovanni Mascellani, Ugo Bindini, Fabrizio Bianchi, Marco Marengon, Francesco Morosi, Luca Ghidelli, Massimo Cairo<br />
Orchestra: Ugo Bindini<br />
Consulenza tecnica: Giovanni Mascellani, Enrico Polesel, Francesco Veneziano, Alessandro Achille, Ugo Bindini<br />
VFX: Giovanni Paolini, Enrico Polesel, Alessandro Achille<br />
Tecnico audio: Giovanni Mascellani<br />
Rumorista: Giovanni Paolini<br />

<h3>Streaming</h3>
Progettazione: Giovanni Mascellani<br />
Regia: Giovanni Mascellani, Aleksandra Baranova<br />
Tecnico audio: Giovanni Mascellani<br />
Codifica e streaming: Giovanni Mascellani<br />
Posizionamento telecamere: Giovanni Mascellani, Gennady Uraltsev, Fabrizio Bianchi, Giovanni Paolini<br />
Relazioni con i fornitori: Giovanni Mascellani, Fabrizio Bianchi<br />
Reperimento materiale tecnico: Giovanni Mascellani<br />
Responsabile dell'archiviazione: Giovanni Mascellani<br />
Installazione sky camera: Giovanni Mascellani, Giovanni Paolini<br />
Rimozione coatta della gente di fronte alla telecamera: Aleksandra Baranova<br />

<h3>Sistemistica</h3>
Realizzazione e posa cavi: Giovanni Mascellani, Gennady Uraltsev<br />
Amministrazione sistemi: Enrico Polesel, Gennady Uraltsev, Alessandro Achille, Giovanni Mascellani<br />

<h3>Subotto</h3>
Pulizia: Ugo Bindini, Alessandro Iraci<br />
Sostituzione molle e rimontaggio: Alessandro Iraci, Ugo Bindini, Fabrizio Bianchi, Daniele Semola, Giuliano Chiriac&ograve;<br />
Relazioni con i fornitori: Alessandro Iraci, Gianluca Grilletti<br />

<h3>Subotto++</h3>
Progetto e realizzazione fotocellule principali: Francesco Guatieri<br />
Progetto e realizzazione fotocellule secondarie: Alessandro Achille<br />
Progetto e realizzazione schermi 7-segment: Alessandro Achille<br />
Allestimento subotto: Francesco Guatieri, Enrico Polesel, Alessandro Achille<br />
Programmazione MCU: Enrico Polesel, Alessandro Achille, Giovanni Mascellani<br />
Programmazione elaboratori: Gennady Uralsev, Denis Nardin, Giovanni Mascellani, Enrico Polesel, Giovanni Paolini<br />
Gestione del database: Giovanni Mascellani, Giovanni Paolini<br />
Interfaccia web (punteggio & streaming): Giovanni Paolini, Giovanni Mascellani<br />
Programmazione web: Giovanni Mascellani, Giovanni Paolini<br />
Schermata alternativa di visualizzazione punteggi: Francesco Guatieri<br />
Relazioni con i fornitori: Enrico Polesel, Franesco Guatieri, Alessandro Achille<br />
Debug e disaster management: Enrico Polesel, Alessandro Achille<br />
Oscilloscopista: Enrico Polesel<br />

<h3>Manovalanza</h3>
Trasporto biliardino: Enrico Polesel, Fabrizio Bianchi, Alessandro Iraci, Giuliano Chiariac&ograve;<br />
Trasporto tavoli: Giovanni Mascellani, Fabrizio Bianchi, Stefano Bolzonella<br />
Trasporto attrezzatura informatica: Giovanni Mascellani, Fabrizio Bianchi, Enrico Polesel, Alessandro Achille, Giovanni Paolini<br />


<h3>Trailer clandestino</h3>
Sottotitolatura trailer clandestino: Giovanni Mascellani, Fabrizio Bianchi, Enrico Polesel<br />
Beta testing trailer clandestino: Aleksandra Baranova, Daniele Agostini, Silvia Ligabue<br />

</box>
</div>
