<style>
table td { vertical-align:middle; }
#tabella thead + tbody tr.gray { background-color: rgb(249, 249, 249); }
#tabella thead + tbody tr.white { background-color: rgb(255, 255, 255); }
</style>

<div class="container" >

<box color="blue" title="Turni della 24 ore 2019">
<p><b>I turni non sono ancora stati decisi.</b></p>
<!--<p><b>I turni non sono ancora definitivi, e potrebbero subire variazioni.</b></p>-->
<table id="tabella">
    <thead>
        <tr><th>Orario</th><th>Matematici</th><th>Fisici</th></tr>
    </thead>
    <tbody>

    </tbody>
</table>
</box>

</div>
