<div class="container" >

<box color="blue" title="Turni della 24 ore 2017">
<!--<p><b>I turni non sono ancora definitivi, e potrebbero subire variazioni.</b></p>-->
<table id="tabella">
<thead>
<tr><th>Orario</th><th>Matematici</th><th>Fisici</th></tr>
</thead>
<tbody>
<tr><td>08:00 - 08:30</td><td>Filippo Baroni, Giacomo Hermes Ferraro</td><td>Marco Eterno, Alessandro Foligno</td></tr>
<tr><td>08:30 - 09:00</td><td>Luca Francone, Francesco Zigliotto</td><td>Massimo Bilancioni, Bruno Bucciotti</td></tr>
<tr><td>09:00 - 09:25</td><td>Lorenzo Beretta, Francesco Ballini</td><td>Pietro Novelli, Paolo Erdman</td></tr>
<tr><td>09:25 - 09:55</td><td>Luca Macchiaroli, Flavio Ascari</td><td>Enrico Negri, Guido Narduzzi</td></tr>
<tr><td>09:55 - 10:20</td><td>Cristoforo Caffi, Federico Conti</td><td>Pietro Pelliconi, Alessandro Passera</td></tr>
<tr><td>10:20 - 10:45</td><td>Clara Antonucci, Nicola Picenni</td><td>Pietro Ferrero, Filippo Revello</td></tr>
<tr><td>10:45 - 11:15</td><td>Nicola Ottolini, Filippo Quattrocchi</td><td>Federico Visintini, Pasquale Miglionico</td></tr>
<tr><td>11:15 - 11:40</td><td>Giovanni Mascellani, Luigi Pagano</td><td>Alexia Tiberi, Cristina Bellotti</td></tr>
<tr><td>11:40 - 12:10</td><td>Edoardo Siniscalco, Lorenzo Furio</td><td>Paolo Tognini, Elia Pizzati</td></tr>
<tr><td>12:10 - 12:40</td><td>Davide Gori, Andrea Gallese</td><td>Lorenzo Breschi, Rosario Riso</td></tr>
<tr><td>12:40 - 13:05</td><td>Riccardo Zanotto, Igor Simunec</td><td>Salvatore Raucci, Nico Kleijne</td></tr>
<tr><td>13:05 - 13:35</td><td>Francesco Milizia, Davide Carazzato</td><td>Gianmaria Tomaselli, Ludovico Tesser</td></tr>
<tr><td>13:35 - 14:00</td><td>Guglielmo Nocera, Giada Franz</td><td>Paolo Abiuso, Salvatore Bottaro</td></tr>
<tr><td>14:00 - 14:30</td><td>Andrea Egidio Monti, Luca Casarin</td><td>Matteo Becchi, Michele Fava</td></tr>
<tr><td>14:30 - 14:55</td><td>Claudio Afeltra, Gianluca Tasinato</td><td>Alessandro De Laurentis, Federico Figura</td></tr>
<tr><td>14:55 - 15:20</td><td>Marco Barberis, Daniele Semola</td><td>Simone Biasco, Vasco Cavina</td></tr>
<tr><td>15:20 - 15:45</td><td>Filippo Baroni, Marco Miani</td><td>Enio Mangiacotti, Fabio Zoratti</td></tr>
<tr><td>15:45 - 16:10</td><td>Federico Scavia, Matteo Verzobio</td><td>Davide Burgio, Gabriele Pulvirenti</td></tr>
<tr><td>16:10 - 16:35</td><td>Giovanni Barbarino, Roberto Pagaria</td><td>Simone Bombari, Matteo Colanero</td></tr>
<tr><td>16:35 - 17:00</td><td>Marco Trevisiol, Giovanni Paolini</td><td>Dario Ascari, Giacomo Petrillo</td></tr>
<tr><td>17:00 - 17:25</td><td>Ugo Bindini, Alessandro Iraci</td><td>Alessandro Candido, Andrea Luzio</td></tr>
<tr><td>17:25 - 17:50</td><td>Manuele Cusumano, Matteo Migliorini</td><td>Piero Lafiosca, Valerio Lomanto</td></tr>
<tr><td>17:50 - 18:15</td><td>Alessandra Caraceni, Emanuele Tron</td><td>Tommaso Pajero, Michael J. Morello</td></tr>
<tr><td>18:15 - 18:40</td><td>Andrea Parma, Lorenzo Benedini</td><td>Alberto Bordin, Roberto Ribatti</td></tr>
<tr><td>18:40 - 19:10</td><td>Emanuele Campeotto, Edoardo Rizzi</td><td>Edoardo Maria Centamori, Giuseppe Bogna</td></tr>
<tr><td>19:10 - 19:35</td><td>Ludovico Pernazza, Giovanni Italiano</td><td>Federica Surace, Caterina Baldassarre</td></tr>
<tr><td>19:35 - 20:00</td><td>Davide Lofano, Alice Cortinovis</td><td>Alessandro Podo, Emanuele Penocchio</td></tr>
</tbody>
</table>
</box>

</div>
