<style>
table td { vertical-align:middle; }
#tabella thead + tbody tr.gray { background-color: rgb(249, 249, 249); }
#tabella thead + tbody tr.white { background-color: rgb(255, 255, 255); }
</style>

<div class="container" >

<box color="blue" title="Turni della 24 ore 2018">
<!--<p><b>I turni non sono ancora definitivi, e potrebbero subire variazioni.</b></p>-->
<table id="tabella">
	<thead>
		<tr><th>Orario</th><th>Matematici</th><th>Fisici</th></tr>
	</thead>
	<tbody>
		<tr class="gray"><td>8:00</td><td>Ludovico Pernazza, Francesco Milizia</td><td>Lorenzo Breschi, Matteo Colanero</td></tr>
		
		<tr class="white"><td>8:30</td><td rowspan="3">Lorenzo Demeio, Giacomo Colombo</td><td rowspan="2">Sveva Sodomaco, Patrizia Mazzeo</td></tr>
		<tr class="white"></tr>
		<tr class="white"><td>8:50</td><td rowspan="2">Marco Malandrone, Tiziano Poropat</td></tr>
		<tr class="white"><td>9:00</td><td rowspan="3">Lorenzo Furio, Jacopo Chen</td></tr>
		<tr class="white"><td>9:10</td><td rowspan="2">Elia Pizzati, Federico Visintini</td></tr>
		<tr class="white"></tr>
		
		<tr class="gray"><td>9:30</td><td>Matteo Nesi, Lorenzo Bresolin</td><td>Veronica Sacchi, Valerio Lomanto, Alessandro Piazza</td></tr>
		<tr class="white"><td>10:00</td><td>Flavio Ascari, Filippo Baroni</td><td>Pasquale Miglionico, Enrico Negri</td></tr>
		
		<tr class="gray"><td>10:30</td><td rowspan="3">Nikita Deniskin, Alessandro Trenta</td><td rowspan="2">Marianna Crupi, Andrea Ortone</td></tr>
		<tr class="gray"></tr>
		<tr class="gray"><td>10:50</td><td rowspan="2">Luca Arnaboldi, Alessandro Falco</td></tr>
		<tr class="gray"><td>11:00</td><td rowspan="3">Emanuele Tron, Andrea Ulliana</td></tr>
		<tr class="gray"><td>11:10</td><td rowspan="2">Jacopo Joy Colombini, Ferdinando Maieron</td></tr>
		<tr class="gray"></tr>
		
		<tr class="white"><td>11:30</td><td>Giovanni Italiano, Francesco Zigliotto</td><td>Giuseppe Bogna, Paolo Tognini</td></tr>
		
		<tr class="gray"><td>12:00</td><td rowspan="3">Aleksandra Baranova, Francesco Giancane</td><td rowspan="2">Alberto Casali, Daniele Assenza</td></tr>
		<tr class="gray"></tr>
		<tr class="gray"><td>12:20</td><td rowspan="2">Fabio Di Mascia, Luca Basta</td></tr>
		<tr class="gray"><td>12:30</td><td rowspan="3">Giacomo Hermes Ferraro, Andrea Monti</td></tr>
		<tr class="gray"><td>12:40</td><td rowspan="2">Bibek Bhandari, Gianmichele Blasi</td></tr>
		<tr class="gray"></tr>
		
		<tr class="white"><td>13:00</td><td rowspan="3">Giulio Rovellini, Claudio Afeltra</td><td rowspan="2">Pietro Novelli, Paolo Erdman</td></tr>
		<tr class="white"></tr>
		<tr class="white"><td>13:20</td><td rowspan="2">Davide Napoli, Piero Lafiosca</td></tr>
		<tr class="white"><td>13:30</td><td rowspan="3">Nicola Picenni, Clara Antonucci</td></tr>
		<tr class="white"><td>13:40</td><td rowspan="2">Alessandro Passera, Salvatore Raucci</td></tr>
		<tr class="white"></tr>		
		
		<tr class="gray"><td>14:00</td><td>Giada Franz, Federico Glaudo</td><td>Salvatore Bottaro, Paolo Abiuso</td></tr>
		<tr class="white"><td>14:30</td><td>Roberto Pagaria, Bruno Martelli</td><td>Vasco Cavina, Simone Biasco</td></tr>
		<tr class="gray"><td>15:00</td><td>Marco Miani, Dario Rancati</td><td>Rosario Riso, Enio Mangiacotti</td></tr>
		<tr class="white"><td>15:30</td><td>Giovanni Paolini, Marco Trevisiol</td><td>Roberto Ribatti, Massimo Bilancioni</td></tr>
		<tr class="gray"><td>16:00</td><td>Alessandro Iraci, Ugo Bindini</td><td>Bruno Bucciotti, Edoardo Centamori</td></tr>
		<tr class="white"><td>16:30</td><td>Andrea Gallese, Edoardo Rizzi</td><td>Gianmaria Tomaselli, Alberto Bordin</td></tr>
		<tr class="gray"><td>17:00</td><td>Riccardo Zanotto, Davide Gori</td><td>Dario Ascari, Giacomo Petrillo</td></tr>
		
		<tr class="white"><td>17:30</td><td rowspan="3">Mattia Maculan, Dario Mercalli</td><td rowspan="2">Cristina Bellotti, Louis Ponet</td></tr>
		<tr class="white"></tr>
		<tr class="white"><td>17:50</td><td rowspan="2">Michael J. Morello, Stefano Cusumano</td></tr>
		<tr class="white"><td>18:00</td><td rowspan="3">Francesco Ballini, Guglielmo Nocera</td></tr>
		<tr class="white"><td>18:10</td><td rowspan="2">Guido Narduzzi, Marco Costa</td></tr>
		<tr class="white"></tr>		
			
		<tr class="gray"><td>18:30</td><td>Lorenzo Benedini, Davide Lofano</td><td>Alessandro Foligno, Marco Eterno</td></tr>
		<tr class="white"><td>19:00</td><td>Davide Lombardo, Andrea Parma</td><td>Andrea Luzio, Alessandro Candido</td></tr>
		<tr class="gray"><td>19:30</td><td>Matteo Migliorini, Manuele Cusumano</td><td>Gabriele Pulvirenti, Davide Burgio</td></tr>
		
	</tbody>
</table>
</box>

</div>
